<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
<<<<<<<< Updated upstream:src/zh/komiic/AndroidManifest.xml
            android:name=".zh.komiic.UrlActivity"
========
            android:name=".en.koharu.KoharuUrlActivity"
>>>>>>>> Stashed changes:src/en/koharu/AndroidManifest.xml
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
<<<<<<<< Updated upstream:src/zh/komiic/AndroidManifest.xml
                    android:host="komiic.com"
                    android:pathPattern="/comic/..*"
========
                    android:host="koharu.to"
                    android:pathPattern="/g/..*/..*"
>>>>>>>> Stashed changes:src/en/koharu/AndroidManifest.xml
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
